<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase}}</h1>
  <h1>{{ valor | number}}</h1>
  <h1>{{ obj | json}}</h1>
</div>


<button icon="pi pi-check" class="p-button-help" iconPos="right" pButton label="Cambiar Nombre"(click)="cambiarNombre()">

</button>

<p-card subheader="Esto es un subheader" [header]="nombre | titlecase">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum expedita exercitationem deserunt dolore, soluta quae animi, alias suscipit porro beatae ipsa, optio provident! Exercitationem architecto, asperiores voluptatem aut quae est?
</p-card> -->

<app-menu></app-menu>